body{
    padding-left:15%;
    padding-right:15%;
    background: url('Images/background.jpg') ,fixed;
}

    /* Navbar  */

.container_base{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
}

#logo{
    width:90px;
    border-radius: 100%;
}
.web-title{
    font-family: "Comic Sans MS",cursive,sans-serif;
}

.container_converter{
    padding-top:3%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.convert_To{
    display: flex;
    justify-content: center;
}
.button_last{
    display: flex;
    justify-content: center;
}
.Dipslay_content{
    text-align: center;
}
@media only screen and (max-width: 600px) {

    .container_converter{
        padding-top:3%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }

  }
    
